<div>
  <div class="border rounded form-control" [class.app-focus-ring]="isInputFocused">
    <div class="d-flex flex-row flex-wrap justify-content-start">
      <app-chip name="potato"></app-chip>
      <app-chip name="carrot" color="success"></app-chip>
      <app-chip name="apricot jam" color="info"></app-chip>
      <app-chip name="some ingredient with long name and even longer name" color="danger"></app-chip>
      <div class="flex-grow-1">
        <input class="form-control form-control-sm border border-0 shadow-none" style="min-width: 160px;" type="text"
               placeholder="keress hozzávalókra"
               (focus)="inputElementFocused()" (focusout)="inputElementLostFocus()">
      </div>
    </div>
  </div>
</div>

