<label>{{label}}</label>
<div class="position-relative">
  <div *ngIf="isSearching"
       class="border rounded position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="bg-body-tertiary w-100 h-100 opacity-75 position-absolute"></div>
    <div class="spinner-border spinner-border-sm mt-2 position-absolute" role="status">
      <span i18n="@@loading-spinner" class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="border rounded form-control" [class.app-focus-ring]="isInputFocused">
    <div class="d-flex flex-row flex-wrap justify-content-start">
      <app-chip *ngFor="let ingredient of added" [name]="ingredient.displayedName" [color]="chipColor"
                [disabled]="isDisabled(ingredient)" (closeClicked)="removeIngredient(ingredient)"></app-chip>
      <div class="flex-grow-1">
        <input class="form-control form-control-sm border border-0 shadow-none" style="min-width: 160px;" type="text"
               i18n-placeholder="@@search-ingredients-placeholder" placeholder="search ingredients"
               #typeahead="ngbTypeahead"
               [ngbTypeahead]="search"
               [resultTemplate]="searchResultTemplate"
               [editable]="false"
               [focusFirst]="false"
               [inputFormatter]="inputFormatter"
               (selectItem)="addIngredient($event.item)"
               (focus)="inputElementFocused()" (focusout)="inputElementLostFocus()">
      </div>
    </div>
  </div>
</div>

<ng-template #searchResultTemplate let-r="result">
  <span *ngIf="!r.isSearching">{{r.displayedName}}</span>
</ng-template>
