<div>
  <div class="border rounded form-control" [class.app-focus-ring]="isInputFocused">
    <div class="d-flex flex-row flex-wrap justify-content-start">
      <app-chip *ngFor="let ingredient of selected" [name]="ingredient.displayedName" [color]="chipColor"></app-chip>
      <div class="flex-grow-1">
        <input class="form-control form-control-sm border border-0 shadow-none" style="min-width: 160px;" type="text"
               placeholder="search ingredients"
               #typeahead="ngbTypeahead"
               [ngbTypeahead]="search"
               [resultTemplate]="searchResultTemplate"
               [editable]="false"
               (focus)="inputElementFocused()" (focusout)="inputElementLostFocus()">
      </div>
    </div>
  </div>
  <div class="spinner-border spinner-border-sm mt-2" role="status" *ngIf="isSearching">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-template #searchResultTemplate let-r="result" let-t="term">
  <span>{{r.displayedName}}</span>
</ng-template>

