<div class="row">
  <div class="col">
    <div style="min-width: 10rem;">
      <label class="form-label">filter by name</label>
      <div class="input-group">
        <input [(ngModel)]="params.filterByName" type="text" class="form-control" placeholder="enter name">
        <button *ngIf="params.filterByName" class="btn btn-outline-secondary" type="button"
                (click)="clearFilterByName()">
          <i class="bi bi-trash"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="filterByNameClicked()">
          <i class="bi bi-search"></i>
        </button>
      </div>

    </div>
  </div>
  <div class="col">
    <div style="min-width: 8rem;">
      <label class="form-label">ordering</label>
      <select [(ngModel)]="orderByAndSort" class="form-select" aria-label="select ordering">
        <option [ngValue]="undefined">not set</option>
        <option [ngValue]="'numofings asc'">ascending by number of ingredients</option>
        <option [ngValue]="'numofings desc'">descending by number of ingredients</option>
        <option [ngValue]="'time asc'">ascending by time</option>
        <option [ngValue]="'time desc'">descending by time</option>
      </select>
    </div>
  </div>

  <div class="col">
    <div class="row" style="min-width: 12rem;">
      <div class="col-6">
        <label class="form-label">min. ingredients</label>
        <select [(ngModel)]="minNumberOfIngredients" class="form-select" aria-label="minimum number of ingredients">
          <option [ngValue]="0">not set</option>
          <option *ngFor="let option of minNumberOfIngredientsOptions" [ngValue]="option">
            {{option}}
          </option>
        </select>
      </div>

      <div class="col-6">
        <label class="form-label">max. ingredients</label>
        <select [(ngModel)]="maxNumberOfIngredients" class="form-select" aria-label="maximum number of ingredients">
          <option [ngValue]="0">not set</option>
          <option *ngFor="let option of maxNumberOfIngredientsOptions" [ngValue]="option">
            {{option}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="d-flex flex-row align-items-end">
      <div style="min-width: 6rem;">
        <label class="form-label">cooking time</label>
        <div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="isQuickSelected" class="form-check-input" type="checkbox">
            <label class="form-check-label">quick</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="isAverageSelected" class="form-check-input" type="checkbox">
            <label class="form-check-label">average</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="isLengthySelected" class="form-check-input" type="checkbox">
            <label class="form-check-label">lengthy</label>
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="isAnyCookingTimeUsed" (click)="clearCookingTimes()" type="button" class="btn btn-outline-secondary btn-sm">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>

  </div>
</div>
