<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col">
    <div style="min-width: 10rem;">
      <div class="input-group">
        <input [(ngModel)]="params.filterByName" type="text" class="form-control form-control-lg"
               i18n-placeholder="@@order-and-filter-enter-name-placeholder"
               placeholder="search for recipes" (keyup.enter)="filterByNameClicked()">
        <button *ngIf="params.filterByName" class="btn btn-outline-secondary" type="button"
                (click)="clearFilterByName()">
          <i class="bi bi-trash"></i>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="filterByNameClicked()">
          <i class="bi bi-search"></i>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col mt-2">
    <div style="min-width: 8rem;">
      <small><label i18n="@@order-and-filter-ordering-label" class="form-label mb-0">ordering</label></small>
      <select [(ngModel)]="orderByAndSort" class="form-select form-select-sm" aria-label="select ordering">
        <option i18n="@@order-and-filter-not-set-option" [ngValue]="undefined">not set</option>
        <option i18n="@@order-and-filter-asc-by-num-of-ingr" [ngValue]="'numofings asc'">ascending by number of ingredients</option>
        <option i18n="@@order-and-filter-desc-by-num-of-ingr" [ngValue]="'numofings desc'">descending by number of ingredients</option>
        <option i18n="@@order-and-filter-asc-by-time" [ngValue]="'time asc'">ascending by time</option>
        <option i18n="@@order-and-filter-desc-by-time" [ngValue]="'time desc'">descending by time</option>
      </select>
    </div>
  </div>

  <div class="col mt-2">
    <div class="row" style="min-width: 12rem;">
      <div class="col-6">
        <small><label i18n="@@order-and-filter-min-ingredients-label" class="form-label mb-0">min. ingredients</label></small>
        <select [(ngModel)]="minNumberOfIngredients" class="form-select form-select-sm" aria-label="minimum number of ingredients">
          <option i18n="@@order-and-filter-min-ingredients-not-set-option" [ngValue]="0">not set</option>
          <option *ngFor="let option of minNumberOfIngredientsOptions" [ngValue]="option">
            {{option}}
          </option>
        </select>
      </div>

      <div class="col-6">
        <small><label i18n="@@order-and-filter-max-ingredients-label" class="form-label mb-0">max. ingredients</label></small>
        <select [(ngModel)]="maxNumberOfIngredients" class="form-select form-select-sm" aria-label="maximum number of ingredients">
          <option i18n="@@order-and-filter-max-ingredients-not-set-option" [ngValue]="0">not set</option>
          <option *ngFor="let option of maxNumberOfIngredientsOptions" [ngValue]="option">
            {{option}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="col mt-2">
    <div class="d-flex flex-row align-items-end">
      <div style="min-width: 6rem;">
        <small><label i18n="@@order-and-filter-cooking-time-label" class="form-label mb-0">cooking time</label></small>
        <div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="isQuickSelected" class="form-check-input" type="checkbox">
            <label i18n="@@order-and-filter-cooking-time-quick-label" class="form-check-label">quick</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="isAverageSelected" class="form-check-input" type="checkbox">
            <label i18n="@@order-and-filter-cooking-time-average-label" class="form-check-label">average</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="isLengthySelected" class="form-check-input" type="checkbox">
            <label i18n="@@order-and-filter-cooking-time-lengthy-label" class="form-check-label">lengthy</label>
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="isAnyCookingTimeUsed" (click)="clearCookingTimes()" type="button"
                class="btn btn-outline-secondary btn-sm">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="col mt-2" style="max-width: 14rem; min-width: 12rem;">
    <div *ngIf="sourcePagesService.isLoading" class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div *ngIf="sourcePageSelections">
      <small><label i18n="@@order-and-filter-recipe-source-label" class="form-label mb-0">recipe source</label></small>
      <div class="d-grip">
        <ngx-bootstrap-multiselect [(ngModel)]="sourcePageSelections!.selections"
                                   (ngModelChange)="sourcePageSelections!.onChange()"
                                   [options]="sourcePageSelections!.options" [settings]="sourcePageSelections!.settings"
                                   [texts]="sourcePageSelections!.texts"></ngx-bootstrap-multiselect>
      </div>
    </div>

  </div>
</div>

<div *ngIf="userService.isLoggedIn" class="row mt-2">
  <div class="col">
    <div class="form-check form-switch">
      <small><label i18n="@@order-and-filter-in-favorites-only" class="form-check-label" for="favoritesOnly">in favorites only</label></small>
      <input class="form-check-input" type="checkbox" role="switch" id="favoritesOnly" [(ngModel)]="useFavoritesOnly">
    </div>
  </div>
</div>
