<div class="card">
  <div class="card-header">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search" aria-label="search" [(ngModel)]="search"
             (keyup)="filterList()">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngFor="let item of filteredItems" class="list-group-item">
      <div class="d-flex align-items-center">
        <div (click)="onItemClick(item)">
          <span role="button" class="link-primary icon-link icon-link-hover link-underline link-underline-opacity-0">
            {{ item[nameKey] }}
            <i class="bi bi-folder2-open"></i>
          </span>
        </div>

        <div class="ms-auto">
          <button *ngFor="let itemControl of itemControls" type="button" class="btn btn-outline-primary me-2"
                  (click)="itemControl.onClick(item)">
            <i [class]="'bi ' + itemControl.icon"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
