<div class="card border-secondary-subtle border-2">
  <div class="card-header">
    <div class="d-flex">
      <div class="input-group">
        <input i18n-placeholder="@@searchable-list-input-placeholder" type="text" class="form-control" placeholder="search" aria-label="search" [(ngModel)]="search"
               (keyup)="filterList()">
        <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
      </div>

      <div *ngIf="itemCreatable" class="ps-4 ms-auto">
        <button class="btn btn-outline-primary" (click)="onItemAddClick()" [ngbPopover]="createNewPopoverText"
                #createPopover="ngbPopover" [disablePopover]="isCreatePopoverDisabled" (hidden)="onPopoverHidden()"
                [autoClose]="'inside'">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li *ngIf="filteredItems.length === 0" class="list-group-item text-center">
      <span class="text-body-tertiary" i18n="@@searchable-list-no-items">no items</span>
    </li>

    <li *ngFor="let item of filteredItems" class="list-group-item">
      <div class="d-flex align-items-center">
        <div (click)="onItemClick(item)">
          <span role="button" class="link-primary icon-link icon-link-hover link-underline link-underline-opacity-0">
            {{ item[nameKey] }}
            <i class="bi bi-folder2-open"></i>
          </span>
        </div>

        <div class="ms-auto" style="min-width: 120px;">
          <button *ngFor="let itemControl of itemControls" type="button" class="btn btn-sm btn-outline-primary me-2"
                  (click)="itemControl.onClick(item)">
            <i [class]="'bi ' + itemControl.icon"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
