<div class="card">
  <div class="card-header">
    <div class="input-group">
      <input type="text" class="form-control border-end-0 border" placeholder="search" aria-label="search" aria-describedby="button-search-list">
      <span class="input-group-text bg-white border-start-0">
        <i class="bi bi-search"></i>
      </span>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">an item</li>
    <li class="list-group-item">another item</li>
    <li class="list-group-item">other item</li>
  </ul>
</div>
