<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="py-2">
        search filters
      </button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <div class="row">
          <div class="col">
            <app-ingredient-searcher [target]="TargetIngredients.Included"
                                     label="ingredients to include?"></app-ingredient-searcher>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-sm-7">
            <app-ingredient-searcher [target]="TargetIngredients.Excluded"
                                     label="ingredients to exclude?"></app-ingredient-searcher>
          </div>
          <div class="col-sm-5">
            <app-ingredient-searcher [target]="TargetIngredients.Extra"
                                     label="additional ingredients?"></app-ingredient-searcher>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col">
            <app-search-mode></app-search-mode>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
