<div ngbAccordion>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="py-2">what kind of recipes?</button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <input class="form-control form-control-sm" type="text">
      </div>
    </div>
  </div>

  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="py-2">ingredients to use?</button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <app-ingredient-searcher [target]="TargetIngredients.Included"></app-ingredient-searcher>
      </div>
    </div>
  </div>

  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="py-2">ingredients to exclude?</button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <app-ingredient-searcher [target]="TargetIngredients.Excluded"></app-ingredient-searcher>
      </div>
    </div>
  </div>

  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="py-2">extra ingredients?</button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <app-ingredient-searcher [target]="TargetIngredients.Extra"></app-ingredient-searcher>
      </div>
    </div>
  </div>

  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="py-2">search mode?</button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <app-search-mode></app-search-mode>
      </div>
    </div>
  </div>
</div>
