<div ngbAccordion>
  <div ngbAccordionItem [collapsed]="false" class="border-secondary-subtle border-2">
    <h2 ngbAccordionHeader>
      <button i18n="@@filter-by-ingredients-title" ngbAccordionButton class="py-2">
        ingredients
      </button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <div class="row">
          <div class="col">
            <app-ingredient-searcher [target]="TargetIngredients.Included"
                                     i18n-label="@@ingredients-to-include-label"
                                     label="ingredients to include?"></app-ingredient-searcher>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-7">
            <app-ingredient-searcher [target]="TargetIngredients.Excluded"
                                     i18n-label="@@ingredients-to-exclude-label"
                                     label="ingredients to exclude?"></app-ingredient-searcher>
          </div>
          <div class="col-sm-5 mt-2 mt-sm-0">
            <app-extra-ingredients-searcher></app-extra-ingredients-searcher>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col">
            <app-search-mode></app-search-mode>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ngbAccordionItem [collapsed]="false" class="border-secondary-subtle border-2">
    <h2 ngbAccordionHeader>
      <button i18n="@@search-filter-ordering-title" ngbAccordionButton class="py-2">
        search filters / ordering
      </button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <app-ordering-and-filters></app-ordering-and-filters>
      </div>
    </div>
  </div>

  <div *ngIf="userService.isLoggedIn" ngbAccordionItem [collapsed]="false" class="border-secondary-subtle border-2">
    <h2 ngbAccordionHeader>
      <button i18n="@@search-params-recipe-book" ngbAccordionButton class="py-2">
        recipe books
      </button>
    </h2>

    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="py-2">
        <app-search-in-recipe-books></app-search-in-recipe-books>
      </div>
    </div>
  </div>
</div>
