<div class="modal-header">
  <h5 i18n="@@menu-generate-randomly-title" class="modal-title" id="modal-basic-title">generate menu</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('cancel')"></button>
</div>
<div class="modal-body">
  <div class="input-group">
    <span i18n="@@menu-generate-randomly-for" class="input-group-text">generate for</span>
    <select [(ngModel)]="days" class="form-select">
      <option *ngFor="let i of daysOptions" [ngValue]=i>{{ i }}</option>
    </select>
    <span i18n="@@menu-generate-randomly-day" class="input-group-text">days</span>
    <select [(ngModel)]="coursesPerDay" class="form-select">
      <option *ngFor="let i of coursesOptions" [ngValue]=i>{{ i }}</option>
    </select>
    <span i18n="@@menu-generate-randomly-courses-per-day" class="input-group-text">courses per day</span>
  </div>

  <div class="mt-2">
    <label i18n="@@menu-generate-randomly-sources-label">source of recipes for courses</label>
    <div *ngFor="let i of maxSources" class="input-group" [class.mt-1]="i > 1">
      <span i18n="@@menu-generate-randomly-course" class="input-group-text">course #{{ i }}</span>
      <select [(ngModel)]="recipeSources[i-1]" class="form-select">
        <option *ngFor="let recipeBook of recipeBooksService.recipeBooks"
                [ngValue]="recipeBook.id">{{ recipeBook.name }}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button i18n="@@menu-generate-randomly-btn-save" type="button" class="btn btn-outline-dark"
          (click)="activeModal.close({days: days, recipeSources: recipeSources})">ok
  </button>
  <button i18n="@@menu-generate-randomly-btn-cancel" type="button" class="btn btn-outline-secondary"
          (click)="activeModal.dismiss('cancel')">cancel
  </button>
</div>

