<div class="p-2 rounded border" style="width: 16rem; height: 25.2rem;">
  <h6>monday</h6>
  <div class="d-flex flex-column overflow-y-scroll" style="height: 20rem">
    <div class="mt-2">
      <app-menu-course-editor></app-menu-course-editor>
    </div>
    <div class="mt-2">
      <app-menu-course-editor></app-menu-course-editor>
    </div>
    <div class="mt-2">
      <app-menu-course-editor></app-menu-course-editor>
    </div>
    <div class="m-2">
      <app-menu-course-editor></app-menu-course-editor>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2"></div>
    <div class="col-8">
      <button class="btn btn-outline-primary btn-sm w-100">add a course</button>
    </div>
    <div class="col-2"></div>
  </div>

</div>

