<div class="p-2 rounded border" style="width: 16rem; height: 25.2rem;">
  <div class="d-flex">
    <div><h6>Day #{{ day }}</h6></div>
    <div class="ms-auto">
      <button class="btn-close" (click)="remove.emit()"></button>
    </div>
  </div>

  <div class="d-flex flex-column overflow-y-scroll" style="height: 20rem">
    <div *ngFor="let recipe of group?.recipes; let i = index" class="mt-2 px-1">
      <app-menu-course-editor [order]="i" (remove)="onCourseRemoved(i)" (recipeSelected)="onRecipeSelected($event, i)"
                              [recipe]="recipe"></app-menu-course-editor>
      <hr *ngIf="shouldShowDivider(i)" class="my-1"/>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-2"></div>
    <div class="col-8">
      <button class="btn btn-outline-primary btn-sm w-100" (click)="onCourseAddClick()">add a course</button>
    </div>
    <div class="col-2"></div>
  </div>
</div>

