<div class="position-relative recipe-card-container" style="width: 18rem; height: 20rem">
  <div class="recipe-parent-card position-absolute w-100 h-100" [ngClass]="isFlipped ? 'flipped' : ''">

    <div *ngIf="recipe" class="card recipe-card-front position-absolute w-100 h-100 shadow-sm border border-success-subtle rounded-4 border-2">
      <div class="card-body">
        <div class="d-flex align-items-center" style="height: 3.2rem;">
          <h6 class="card-title px-2">
            <a [href]="recipe.url"
               class="icon-link link-underline link-underline-opacity-0 clamp-title"
               target="_blank">
              <i class="bi bi-box-arrow-up-right"></i>
              {{ recipe.name }}
            </a>
          </h6>
          <div *ngIf="userService.isLoggedIn" class="ms-auto" style="max-width:27px">
            <div>
              <app-favorite-recipe [recipeId]="recipe.id"></app-favorite-recipe>
            </div>
            <div>
              <app-add-to-recipe-books [recipe]="recipe"></app-add-to-recipe-books>
            </div>
          </div>
        </div>

        <div class="position-relative">
          <div class="position-absolute overflow-y-hidden w-100" style="height: 12.7rem;">
            <img *ngIf="recipe.imageUrl" [src]="recipe.imageUrl" style="height: 12.7rem"
                 class="w-100 object-fit-cover border rounded"
                 alt="recipe image"/>
          </div>

          <div class="position-absolute bg-white w-100 rounded-top bg-opacity-75">
            <div *ngIf="recipe.time != CookingTime.Unknown" class="ms-1 d-flex align-items-center">
              <div><i class="bi bi-clock"></i></div>
              <div class="ms-1">
                <span i18n="@@recipe-card-cooking-time-quick" *ngIf="recipe.time == CookingTime.Quick">quick</span>
                <span i18n="@@recipe-card-cooking-time-average"
                      *ngIf="recipe.time == CookingTime.Average">average</span>
                <span i18n="@@recipe-card-cooking-time-lengthy"
                      *ngIf="recipe.time == CookingTime.Lengthy">lengthy</span>
              </div>
            </div>

            <div class="ms-1 d-flex align-items-center">
              <div><i class="bi bi-list-ul"></i></div>
              <div i18n="@@recipe-card-num-of-ingredients" class="ms-1">{{ recipe.numofings }} ingredients</div>
            </div>
          </div>
        </div>

        <div class="source-page">
          <small class="text-center">{{recipe.sourcePage.name}}</small>
        </div>

        <a class="icon-link flip-control" (click)="isFlipped = !isFlipped">
          <i class="bi bi-chevron-left"></i>
        </a>
      </div>
    </div>


    <div *ngIf="recipe" class="card recipe-card-back position-absolute w-100 h-100 shadow-sm border border-success-subtle rounded-4 border-2">
      <div class="card-body">
        <div class="d-flex">
          <h6 class="card-title px-2" style="height: 2rem">
            <a [href]="recipe.url"
               class="icon-link link-underline link-underline-opacity-0 clamp-title"
               target="_blank">
              <i class="bi bi-box-arrow-up-right"></i>
              {{ recipe.name }}
            </a>
          </h6>

          <div *ngIf="userService.isLoggedIn" class="ms-auto" style="max-width:27px">
            <div>
              <app-favorite-recipe [recipeId]="recipe.id"></app-favorite-recipe>
            </div>
            <div>
              <app-add-to-recipe-books [recipe]="recipe"></app-add-to-recipe-books>
            </div>
          </div>
        </div>
        <div class="overflow-y-auto overflow-x-hidden w-100" style="height:14.1rem;">
          <ul class="list-group list-group-flush w-100 ms-3">
            <li *ngFor="let ingredient of recipe.ingredients" [ngClass]="getIngredientTextColorClass(ingredient)"
                class="list-group-item p-1">
              {{ ingredient.name }}
            </li>
          </ul>
        </div>

        <div class="source-page">
          <small class="text-center">{{recipe.sourcePage.name}}</small>
        </div>
      </div>

      <a class="icon-link flip-control" (click)="isFlipped = !isFlipped">
        <i class="bi bi-chevron-left"></i>
      </a>
    </div>
  </div>
</div>
