.recipe-card-container {
  perspective: 800px;
}

.recipe-parent-card {
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.recipe-card-front, .recipe-card-back {
  backface-visibility: hidden;
}

.recipe-card-back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

.flip-control {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clamp-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
