<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid justify-content-start align-items-center">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
    <a class="navbar-brand ps-2" [routerLink]="'.'">
      <img src="assets/logo.svg" alt="Logo" style="height: 55px;"/>
      cooksm.art
    </a>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li *ngFor="let route of routes" class="nav-item">
          <a class="nav-link" [routerLink]="route.link" routerLinkActive="active" (click)="isMenuCollapsed = true">
            {{route.name}}
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
