<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid justify-content-start align-items-center">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
    <a class="navbar-brand ps-2" [routerLink]="'.'">
      <img src="assets/logo.svg" alt="Logo" style="height: 55px;"/>
      cooksm.art
    </a>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <span *ngIf="!userService.isLoggedIn" class="nav-link" style="cursor: pointer"
                (click)="onLoginClicked(login)">
            <i class="bi bi-person-circle"></i>
            login
          </span>
          <span *ngIf="userService.isLoggedIn" class="nav-link" style="cursor: pointer" (click)="onLogoutClicked()">
            <img *ngIf="userService.apiUser?.picture" alt="User photo" [ngSrc]="userService.apiUser?.picture!" width="25" height="25" class="rounded-circle me-1">
            <i *ngIf="!userService.apiUser?.picture" class="bi bi-person-circle"></i>
            logout
          </span>
        </li>
        <ng-container *ngFor="let route of routes">
          <li *ngIf="isAvailable(route)" class="nav-item">
            <a class="nav-link" [routerLink]="route.link" routerLinkActive="active" (click)="isMenuCollapsed = true">
              {{ route.name }}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>

  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<app-toasts></app-toasts>

<ng-template #login let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">login with</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center align-items-center">
      <div>
        <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
      </div>
      <div>
        <button class="btn btn-sm btn-outline-primary ms-4" (click)="onFacebookLoginClicked()">
          <i class="bi bi-facebook"></i>
        </button>
      </div>
    </div>

  </div>
</ng-template>
