<div class="modal-header">
  <h5 class="modal-title" id="modal-basic-title">create new recipe book</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('cancel')"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <div class="input-group has-validation">
      <input [(ngModel)]="name" type="email" class="form-control" [class.is-invalid]="isInvalid"
             [class.is-valid]="!isInvalid" id="recipeBookName" placeholder="name">
      <div class="invalid-feedback">
        at least 3 characters
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" [disabled]="isInvalid" (click)="activeModal.close('save')">save</button>
  <button type="button" class="btn btn-outline-" (click)="activeModal.dismiss('cancel')">cancel</button>
</div>
