<div *ngIf="userService.isLoggedIn" class="row">
  <div class="col-md-2"></div>
  <div class="col-12 col-md-8">
    <app-searchable-list [itemCreatable]="true" [onItemAddClick]="onCreateNewClicked"
                         [items]="recipeBooksService.recipeBooks" nameKey="name"
                         [showCreatePopover]="showCreatePopover"
                         [itemControls]="bookControls" [onItemClick]="onRecipeBookClicked"></app-searchable-list>
  </div>
  <div class="col-md-2"></div>
</div>

<h5 *ngIf="!userService.isLoggedIn" i18n="@@recipe-books-page-login-needed" class="text-dark-emphasis text-center mt-2">
  please login to view this page
</h5>

<ngx-spinner
  [fullScreen]="true"
  name="recipeBooks"
  type="ball-clip-rotate"
  [showSpinner]="recipeBooksService.isLoading"
>
</ngx-spinner>
