/* You can add global styles to this file, and also import other style files */
$white: #ffffff;

$light: #f5f9e2;
$dark: #72b91e;
$primary: #5b91d7;
$secondary: #976f4a;
$info: #80d4d6;
$accent1: #5d17d7;
$accent2:#da9cc2;
$accent3: #fdd9e4;
$success: #66b913;
$warning: #ffc77e;
$danger: #fb0768;

$theme-colors: (
  "light":      $light,
  "dark":       $dark,
  "primary":    $primary,
  "secondary":  $secondary,
  "info":       $info,
  "accent1":    $accent1,
  "accent2":    $accent2,
  "accent3":    $accent3,
  "success":    $success,
  "warning":    $warning,
  "danger":     $danger,
);



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/_variables';

.app-focus-ring {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  outline: 0;
  box-shadow: $input-focus-box-shadow;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #495057 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #495057;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
