/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/_variables';

.app-focus-ring {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  outline: 0;
  box-shadow: $input-focus-box-shadow;
}
